.*
/*.*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

!.github

doc
installer
mpv
vapoursynth
__pycache__

portable_config/cache
portable_config/watch_later

portable_config/recent.json
portable_config/celebi.txt

portable_config/fonts/*
!portable_config/fonts/uosc_icons.ttf
!portable_config/fonts/uosc_textures.ttf
