.*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

/*.*
!/*.ps1

installer
vapoursynth64
misc

portable_config/fonts/*
!portable_config/fonts/uosc_textures.ttf

portable_config/watch_later
