/*.*
!*/

doc
installer
mpv
VapourSynth

portable_config/cache
portable_config/filters/__pycache__
portable_config/fonts
portable_config/watch_later
portable_config/celebi.txt
portable_config/recent.json

!.gitignore
!LICENSE
!README.md

!portable_config/fonts/uosc_icons.ttf
!portable_config/fonts/uosc_textures.ttf
